.Header {
    background-image: linear-gradient(-180deg, #FAFAFA 0%, #FAFCFE 100%);
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.50);
    height: 121px;
    display: flex;
    align-items: center;
    justify-content: center
}